*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
@font-face{
    font-family: 'caviar';
    src:url('font/caviar/CaviarDreams.ttf')format('truetype');
    font-weight: normal;
    font-style:normal;
    
}
body{
    background-color: rgb(255, 255, 255);
}

#container{
    display:flex;
    height: 920px;
    margin-top: 0px;
    color: rgba(110, 110, 110, 0.658);
}

.div_cont{
    color:rgba(0, 0, 0, 0.075);
    font-weight: lighter;
    font-size:130px;
    transform: rotate(270deg);
    position:absolute;
}
.img_1{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.div-image_1{
    width: 80%;
    margin-left: 5%;

}
.div-image_2{
    width: 20%;
}
.div-image_1, .div-image_2{ 
    display:flex;
    justify-content: center;
    align-items: center;
}

.caixas_princ{
    
    width:50%;
    display:flex;
    justify-content: right;
}




