@font-face{
    font-family: 'caviar';
    src:url('font/caviar/CaviarDreams.ttf')format('truetype');
    font-weight: normal;
    font-style:normal;
}

.nav_bar{
    transition-duration: 1s;
    background-color: rgba(255, 255, 255, 0.116);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 100%;
    height:100px;
    right: 0px;
    padding-top: 0px;
    font-family: 'caviar';
    font-size:1.7cap;
}
.nav_bar:hover{
    transition-duration: 1s;
    background-color: rgba(202, 202, 202, 0.616);
}
li{
    display: inline;
    margin: 30px 50px;
    list-style-type: none;
}

