*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
@font-face{
    font-family: 'caviar';
    src:url('font/caviar/CaviarDreams.ttf')format('truetype');
    font-weight: normal;
    font-style:normal;
    
}
body{
    background-image:url('imgs/wall.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

#container{
    background-color:rgba(0, 0, 0, 0.308);
    display:flex;
    height: 920px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
}

.div_cont{
    width:600px;
    color:rgba(255, 255, 255, 0.76);
    font-family:"caviar";
    font-weight: lighter;
    font-size:90px;
    transform: rotate(270deg);
    position: absolute;
    left:-200px
}
.caixas_princ{ 

    width:50%;
    display:flex;
    justify-content: right;
    align-items: center;
    
}
.caixas_princ_2{
    display:flex;
    width:50%;
    justify-content: left;
    
    align-items: center;
    color:rgb(255, 255, 255);
    font-family:"caviar";

}
.caixas_princ_2 p{
    margin-top: 20px;
    font-size: 2cap;
}

.div_child_princ{
    margin-left:50px;
    text-align: center;
    width: 400px;
}




